<div class="about">
    <p>Jarrod Reyes created this as part of The Odin Project <%=
    link_to 'curriculum', 'https://www.theodinproject.com/courses/ruby-on-rails/lessons/final-project', target: :_blank
    %>. View <%=
    link_to 'Github Repo for this website', 'https://github.com/reyes-dev/odin-facebook', target: :_blank %>.</p>
    <p>Sign up or login with <i>'user_1@example.com'</i> and <i>'password'</i>.</p>
    <p>This website recreates the core functionality of Facebook, including Users, Friendships, Posts, Comments, Likes, Image posting, and Personal Profiles.</p>
</div>