<div class="users-page">
  <div class="side-display">
    <%= render "shared/sidebar" %>
    <%= render "shared/friends" %>
  </div>

  <div class="users-display-container">
    <h2>All Users</h2>
    
    <div class="users-display">
      <%= render "users" %>
    </div>
  </div>
</div>
