<div class="friends-display">
    <span class="username">Friends</span>
    <% @current_user.friends[0..2].each do |friend| %>
        <div class="single-friend-container">
            <%= link_to friend.username, user_path(id: friend.id) %>
            <%= cl_image_tag friend.profile.image.key, :width=>40, :height=>40, :crop=>"fill", :radius=>"max", :default_image => "placeholder-icon_vcawzm.png" %>
        </div>
    <% end %>
</div>