<ul>
  <% @friend_requests.each do |fr| %>
    <li><%= fr %></li>
    <%= link_to "Accept", friendships_path( :friendship => { :user_id => current_user.id, :friend_id => fr.id }), data: { turbo_method: :post } %>
    <%= link_to "Reject", user_friend_request_path(:id => fr.id), data: { turbo_method: :delete } %>
  <% end %>
</ul>